* {
  /* margin: 0;
  padding: 0; */
}

body {
  /* background-color: rgba(221, 175, 22, 0.856); */
  background-image: url("../Media/pic3.gif");
  /* background-position: center; */
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  background-repeat: no-repeat;
  /* background-repeat: center; */
  background-position: center center;
  background-attachment: fixed;
  /* background-attachment: scroll; */
}
h1 {
  background-color: green;
  opacity: 0.6;
  text-align: center;
}
p {
  background-color: rgb(207, 71, 71);
  opacity: 0.6;
}
