* {
  box-sizing: border-box;
}
body {
  background-color: rgb(213, 220, 233);
  font-family: "Pacifico", cursive;
  /* font-family: "The Nautigal", cursive; */
}
.container {
  width: 900px;
  border: 3px solid rgba(204, 148, 28, 0.884);
  margin: 33px auto;
  background-color: rgb(188, 219, 47);
}
.item {
  border: 3px solid gray;
  margin: 12px 3px;
  padding: 12px 3px;
  background: rgba(201, 172, 172, 0.774);
}
#fruit {
  float: left;
  width: 48%;
}
#computer {
  float: right;
  width: 48%;
}
#stationary {
  /* float: left; */
  clear: both;
  width: 100%;
}
p,
h3 {
  /* text-align: center; */
  text-align: justify;
}
h1 {
  margin: 25px auto;
  width: 455px;
}
